.tribe-mini-calendar-event {
	border-bottom: none;
	.list-date:first-child {
		margin-top: 0;
	}
	.list-info {
		margin-top: 0;
		font-size: $font-size-small;
	}
}
.tribe-events-widget-link {
	margin-bottom: 0;
	font-size: $font-size-base;
	
	a {
		text-transform: uppercase;
	    color: $gray;
	    font-weight: bold;
	    font-size: 92%;
	}
}



