//******************
// Global Colors
//******************

//== Grays
//
//## Gray and brand colors for use across Bootstrap.
$gray-base:					#000 !default;
$gray-darker:				lighten($gray-base, 13.5%) !default; // #222
$gray-dark:					lighten($gray-base, 20%) !default;   // #333
$gray:						lighten($gray-base, 33.5%) !default; // #555
$gray-light:				lighten($gray-base, 46.7%) !default; // #777
$gray-lighten:				lighten($gray-base, 80%) !default; // #ccc	
$gray-lighter:				lighten($gray-base, 93.5%) !default; // #eee
$white:						#ffffff !default;

//== District Colors
//
//##
$csd-primary-color:			#004D8E !default;
$csd-primary:				$csd-primary-color !default;
$border-bottom:				1px solid $csd-primary-color !default;

//== Typography
//
//** Background color for `<body>`.
$body-bg:               			#fff !default;
//** Global text color on `<body>`.
$text-color:            			#696969 !default;
//** Link hover decoration.
$link-hover-decoration: 			underline !default;

//== Buttons
//
//##
$btn-default-color:              	#333 !default;
$btn-default-bg:                 	#fff !default;
$btn-default-border:             	#ccc !default;
$btn-primary-color:              	#fff !default;
$btn-secondary-color:            	#333 !default;
$btn-success-color:              	#fff !default;
$btn-info-color:                 	#fff !default;
$btn-warning-color:              	#fff !default;
$btn-danger-color:               	#fff !default;
$btn-link-disabled-color:        	$gray-light !default;

//== Tables
//
//** Background color used for `.table-striped`.
$table-bg-accent:					#f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:					#f5f5f5 !default;
$table-bg-active:					$table-bg-hover !default;
//** Border color for table and cell borders.
$table-border-color:				#ddd !default;

//== Components
//
//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:			#fff !default;
$component-active-bg:				#fff !default;

//== Forms
//
//** `<input>` background color
$input-bg:							#fff !default;
//** `<input disabled>` background color
$input-bg-disabled:					$gray-lighter !default;
//** Text color for `<input>`s
$input-color: 						$gray !default;
//** `<input>` border color
$input-border:						#ccc !default;
//** Border color for inputs on focus
$input-border-focus:				#66afe9 !default;
//** Placeholder text color
$input-color-placeholder:			#999 !default;
$legend-color:						$gray-dark !default;
$legend-border-color: 				#e5e5e5 !default;
//** Background color for textual input addons
$input-group-addon-bg:				$gray-lighter !default;
//** Border color for textual input addons
$input-group-addon-border-color:	$input-border !default;

//== Navbar
//
//##
$navbar-default-color:           	$white !default;
$navbar-default-link-disabled-color:#ccc !default;
$navbar-default-link-disabled-bg:   transparent !default;
$navbar-default-link-hover-bg:      transparent !default;

//== Dropdowns
//
//** Background for the dropdown menu.
$dropdown-bg: 						#fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:					rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:			#ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:				#e5e5e5 !default;
//** Dropdown link text color.
$dropdown-link-color: 				$gray-dark !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      	darken($gray-dark, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         	#f5f5f5 !default;
//** Active dropdown menu item text color.
$dropdown-link-active-color:     	$component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        	$component-active-bg !default;
//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   	$gray-light !default;
//** Text color for headers within dropdown menus.
$dropdown-header-color:          	$gray-light !default;
//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           	#000 !default;
//** Navbar toggle
$navbar-default-toggle-hover-bg:    #ddd !default;
$navbar-default-toggle-icon-bar-bg:	#888 !default;
$navbar-default-toggle-border-color:#ddd !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-text:				#3c763d !default;
$state-success-bg:               	#dff0d8 !default;
$state-success-border:           	darken(adjust-hue($state-success-bg, -10), 5%) !default;
$state-info-text:                	#31708f !default;
$state-info-bg:                  	#d9edf7 !default;
$state-info-border:              	darken(adjust-hue($state-info-bg, -10), 7%) !default;
$state-warning-text:             	#8a6d3b !default;
$state-warning-bg:               	#fcf8e3 !default;
$state-warning-border:           	darken(adjust-hue($state-warning-bg, -10), 5%) !default;
$state-danger-text:              	#a94442 !default;
$state-danger-bg:                	#f2dede !default;
$state-danger-border:            	darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//== Labels
//
//** Default label background color
$label-default-bg:            		$gray-light !default;
//** Default label text color
$label-color:                 		#fff !default;
//** Default text color of a linked label
$label-link-hover-color:      		#fff !default;

//== Models
//
//** Background color of modal content area
$modal-content-bg:                 	#fff !default;
//** Modal content border color
$modal-content-border-color:		rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:#999 !default;
//** Modal backdrop background color
$modal-backdrop-bg:           		#000 !default;
//** Modal header border color
$modal-header-border-color:   		#e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   		$modal-header-border-color !default;

//== Alerts
//
//##
$alert-success-bg:            		$state-success-bg !default;
$alert-success-text:          		$state-success-text !default;
$alert-success-border:        		$state-success-border !default;
$alert-info-bg:               		$state-info-bg !default;
$alert-info-text:             		$state-info-text !default;
$alert-info-border:           		$state-info-border !default;
$alert-warning-bg:            		$state-warning-bg !default;
$alert-warning-text:          		$state-warning-text !default;
$alert-warning-border:        		$state-warning-border !default;
$alert-danger-bg:             		$state-danger-bg !default;
$alert-danger-text:           		$state-danger-text !default;
$alert-danger-border:         		$state-danger-border !default;

//== Wells
//
//##
$well-bg:                     		#f5f5f5 !default;
$well-border:                 		darken($well-bg, 7%) !default;

//== Close
//
//##
$close-font-weight:           		bold !default;
$close-color:                 		#000 !default;
$close-text-shadow:           		0 1px 0 #fff !default;

//== Type
//
//##
$text-muted:                  		$gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           		$gray-light !default;
//** Headings small color
$headings-small-color:        		$gray-light !default;
//** Blockquote small color
$blockquote-small-color:      		$gray-light !default;
$blockquote-border-color:     		$gray-lighter !default;
//** Page header border color
$page-header-border-color:    		$gray-lighter !default;
//** Horizontal line color.
$hr-border:                   		$gray-lighter !default;