//******************
// Global Resets
//******************
ul, ol {
	margin: 0;
}
html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size: $main-font-size;  
}
a:active,
a:focus,
:focus {
  outline:0;
  border:none;
  -moz-outline-style: none;
}
//******************
// Global Typography
//******************
body {
	font-family: "proxima-nova", Arial, sans-serif;
}
.list-bordered li {
	border-bottom: 1px solid $gray-lighter;
}
.bg-gray {
	background-color: $gray-lighter;
}
h1, h2, h3, h4, h5 {
	margin-top: 0;
}
h1.strong, h2.strong {
	font-weight: 700;
}
p, ul, ol {
	font-size: $main-font-size;
	line-height: $main-line-height;
	margin: 0 0 30px 0;
}
small, .small {
	font-size: $font-size-small;
}
.list-inline-lg {
	margin-left: -10px;
}
.list-inline-lg>li {
	padding-left: 10px;
	padding-right: 10px;
}
.list-bordered li {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.list-bordered li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
small a, #footer-top small a {
	text-transform: uppercase;
	color: $gray-dark;
	font-weight: bold;
}
small a:hover, #footer-top small a:hover {
	color: $brand-primary;
}
a {
	-webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
a:focus, a:active {
	background-color: inherit;
}
.well p:last-child {
	margin-bottom: 0;
}
.subhead {
	h5 {
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 0;
	}
	a:hover, a:active, a:visited, a:focus {
		text-decoration: none;
	}
}
.subsection:after {
    display: block;
    content: ' ';
    width: 25%;
    height: 1px;
    background: #E5E4DF;
    margin: 5px 0;
}
.divide {
	border-bottom: 1px solid $gray-light;
}
.list-flush {
	padding-left: 15px;
}
.meta-content, .meta-content p {
	font-size: $font-size-small;
}
.headline {
    border-bottom: 1px solid $gray-lighter;
    margin: 0 0 15px 0;
}

//******************
// Global Buttons
//******************

.btn {
	padding: 10px 28px;
	border: none;
	border-radius: 0;
}

//**************
// Global Header
//**************

//== Global Search Bar
//
//##
#search-bar {
    position: relative;
    display: none;
    height: 75px;
    p {
	    padding-top: 10px;
	    margin: 0;
	    color: $gray;
	    text-transform: uppercase;
	    font-size: $font-size-small;
    }
    #search-text {
		float: left;
		font-size: $font-size-large;
		color: #ffffff;
		border: none;	
		width: 80%;
		background: 0;
		padding: 0;
		text-indent: 0;
		display: block;
		outline: 0;
	}
	#ss-icon {
		background-color: transparent;
	    color: #ffffff;
	    border: 0;
	    text-shadow: none;
	    float: right;
	    padding: 0;
	    margin-top: 0;
	    z-index: 2;
	    height: 1.125em;
	    line-height: 1.3em;
	    -webkit-transition: opacity ease-in-out .3s;
	    transition: opacity ease-in-out .3s;
	    -webkit-animation: searchpulse 1.25s infinite alternate ease-in-out;
	    animation: searchpulse 1.25s infinite alternate ease-in-out;
	}
	.fa {
		font-size: $font-size-large;;
	}
}
#search-form #search-text {
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    width: 80%;
}

//== Global Top Navigation
//
//##
#header-top-global {
	padding-right: 20px;
}
#header-top-global ul {
	margin: 0;
	line-height: 100%;
}
#header-top-global a {
	line-height: 35px;
	height: 35px;
	font-size: $font-size-smaller;
	text-transform: uppercase;
}
#header-top-global a:hover, #header-top-global a:active, #header-top-global a:focus{
	text-decoration: none;
}
#header-top-global .ubermenu .ubermenu-target {
	padding: 0;
}
#header-top-global li {
	padding: 0 12px;
}
#header-top-global .menu-top-links-container, #header-top-global .menu-top-links-search-container {
    float: right;
}
#header-top-global .fa {
    margin-left: 5px;
}
//== Global Header
//
//##
#header-global {
	width: 100%;
	padding: 30px 0 25px 0;
}
.home #header-global, .page-template-page-parent #header-global {
	padding: 30px 0;
}
#header-global .ubermenu {
	height: 100%;
	float: right;
}
#header-global .ubermenu .ubermenu-item.ubermenu-item-level-0 {
	float: left;
	padding: 0;
	display: table;
	height: 62px;
}
#header-global .ubermenu-skin-vanilla .ubermenu-item-level-0 > .ubermenu-target {
	padding: 0 25px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    font-size: $font-size-menu;
}
#header-global .ubermenu-skin-vanilla .ubermenu-item-level-0 > .ubermenu-target:focus {
	outline: none;
}
#header-global .ubermenu .ubermenu-item.ubermenu-item-level-0:first-child {
	padding-left: 0;
}
#header-global .ubermenu-skin-vanilla .ubermenu-item-level-0:last-child {
	padding-right: 0;
}
#header-global .ubermenu-transition-fade .ubermenu-item .ubermenu-submenu-drop {
	top: 62px;
	border: none;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	padding: 10px 25px;
}
#header-global .ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target {
	padding: 10px 25px;
}
#header-global .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target {
	padding: 10px 25px 0 25px;
}
#header-global .shiftnav-toggle-button {
	background: #ffffff;
	color: $text-color;
	padding: 0;
	height: 62px;
	line-height: 62px;
	font-size: $font-size-large;
}
#shiftnav-main.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item .shiftnav-target {
	font-size: $font-size-menu;
	color: $headings-color;
	border-bottom: 1px solid $gray-lighten;
}
#shiftnav-main.shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.menu-item > .shiftnav-target {
	font-size: $font-size-large;
	font-weight: bold;
}
#shiftnav-main.shiftnav:after {
	box-shadow: 0 0 4px rgba(0,0,0,.8);
}
#logo {
	max-width: 300px;
	height: 62px;
    vertical-align: middle;
    display: table-cell;	
}
#breadcrumbs {
	border-bottom: 1px solid $gray-lighter;
}
//**************
// Global Footer 
//**************

#footer-top {
	background-color: $gray-lighter;
	h5 {
		text-transform: uppercase;
		font-weight: bold;
	}
	ul {
		margin: 0;
		padding-bottom: $padding-xlarge-bottom;
		@extend .list-unstyled;
	}
	li, p {
		padding-bottom: .4em;
		font-size: $font-size-base;
	}
	p {
		line-height: 1.8;
	}
	.headline {
		border-color: #ccc;
	}
	strong {
		color: $gray-dark;
	}
}
#footer-bottom {
	background-color: #333333;
	color: white;
	padding: 2em 0 4em 0;
	a {
		font-size: $font-size-small;
		color: white;
	}
}
.footer-text, #footer-bottom .footer-text a {
	font-size: $font-size-smaller;
}
#footer-social {
	background-color: #292929;
	color: white;
	ul {
		float: left;
	    display: table;
	    list-style: none;
	    margin: 0;
	    padding: 0 0 0 10px;
	}
	p {
		display: table-cell;
	    vertical-align: middle;
	    margin: 0 20px 0 0;
	    padding: 0;
	    font-size: 17px;
	    line-height: 1;
	}
	li {
		display: inline-block;
	    zoom: 1;
	    margin: 0 0 0 15px;
	}
	.fa {
		color: white;
	}
	#credits, #credits a, #credits .fa {
		color: #605f5f;
		font-size: 12px;
		height: 35px;
		line-height: 35px;
	}
}

//**********
// Home Page 
//**********

.carousel-wrap {
	background-color: $gray;
	.carousel {
		max-width: 1600px;
		margin: auto;
	}
	.item {		
		.carousel-caption {
			width: 40%;
			left: 0%;
			bottom: 80px;
			text-align: left;
			padding: 0;
			opacity: .95;
			.carousel-title {
				padding: 15px 20px;
				h3 {
					font-size: 1.8em;
				    font-weight: 500;
				    line-height: 1em;
				    margin: 0px;
				    padding: 0px;
				    text-shadow: none;
				}
			}
			.carousel-caption-bg {
				font-size: 1.1em;
				background-color: white;
				padding: 15px 20px;
				color: $text-color;
				p {
					margin-bottom: 0;
					text-shadow: none;
				}
			}
		}
	}
	.carousel-indicators {
	    bottom: 0;
	    margin-bottom: 0;
	    li {
		    position: relative;
		    margin: 3px;
		    height: 12px;
		    width: 12px;
		    background-color: transparent;
		}
	}
	.carousel-control.left, .carousel-control.right {
		background: none;
	}
	.carousel-control {
		width: 5%;
	}
	.carousel-inner > .item {
		
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		width: 100%;
		max-width: auto;
	}
}
#news {
	ul {
		padding-left: 15px;
		li {
			list-style: none;
			a {
				color: $headings-color;
			}
			.news-content p {
				margin-bottom: 0;
			}
		}
		li:before{
		    content: "\e080";
		    font-family: 'Glyphicons Halflings';
		    font-size: 9px;
		    float: left;
		    margin-top: 4px;
		    margin-left: -17px;
		    color: $gray-dark;
		}
	}
	.news-content p {
		font-size: $font-size-small;
	}
	#news-more li {
	    margin-bottom: 1em;
	    line-height: 1.24224;
	}
}
#quick-links {
	li {
		padding-bottom: 15px;
	}
}
#teacher-search input {
	color: #696969;
    font-size: $font-size-base;
    line-height: 1.1;
    font-weight: 500;
    border-radius: 0;
	height: 45px;
}
//************
// Search Page
//************

#search-header {
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
#search-results-wrap article {
	margin: 20px 0;
	padding: 20px 0;
	border-bottom: 1px solid #eeeeee;
}

//***************
// Search Results
//***************
.search-results {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $gray-dark;
}

//**************
// Gravity Forms
//**************

#cta-form .gform_wrapper {
	max-width: 100%;
}
#cta-form input {
	-moz-transition: color 0.3s ease,-moz-transform 0.4s ease,opacity 0.4s ease,background 0.3s ease;
    -o-transition: color 0.3s ease,-o-transform 0.4s ease,opacity 0.4s ease,background 0.3s ease;
    -webkit-transition: color 0.3s ease,-webkit-transform 0.4s ease,opacity 0.4s ease,background 0.3s ease;
    transition: color 0.3s ease,transform 0.4s ease,opacity 0.4s ease,background 0.3s ease;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    display: block;
    border: 0;
}
#cta-form .gform_button {
	color: white;
	float: right;
}
.entry-content .gform_wrapper {
	padding: 15px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
}
.entry-content .gform_wrapper ul li:before {
	display: none;
}
.entry-content .ginput_complex label, .entry-content .gfield_label {
	display: none;
}

//**********
//
// Pages 
//
//**********

//***********************
// Entry Content Defaults
//***********************

.entry-content {

	ul {
		list-style: none;
	
		li:before {
	    	font-family: FontAwesome;
	    	content: '\F105';
	    	margin: 0 10px 0 -15px;
	    	font-size: 13px;
		}
	}
	ul.list-unstyled {
		li:before {
			content: none;
		}
	}
}

//****************
// Lead Text Block
//****************

.entry-lead {
	margin-bottom: $margin-bottom-40;
	color: $gray-light;
	
	.lead {
		line-height: 1.3em;
		font-size: $font-size-large;
		margin-bottom: 0;
	}
	.lead:after {
	    display: block;
	    content: " ";
	    width: 75px;
	    height: 2px;
	    margin: 35px 0 0;
	    background: $gray-lighten;
	}
}

//*****************
// Page Links Block
//*****************

#page-links {
	padding-left: 0;
}
#page-links>li {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-lighter;
}
#page-links>li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#page-links>.page_item, #page-links>.page_item:before {
	list-style: none;
	content: none;
	font-size: $font-size-h4;
}
#page-links>.page_item>a {
	color: $headings-color;
	font-weight: $headings-font-weight;
}
#page-links .children {
	padding-left: 20px;
}
#page-links .children:before, #page-links .children:after {
	content: " ";
    display: table;
    clear: both;
}
#page-links .children li {
	width: 33%;
	float: left;
	line-height: 1.3em;
	padding: 5px 0;
}

//************
// Cards Block
//************

.card-left {
    clear: both;
    display: table;
    margin-bottom: 15px;
    position: relative;
}
.card-left>div, .card-right>div {
    display: table-cell;
    position: relative;
}
.card-image img {
	display: block;
    max-width: 100%;
    height: auto;
}
.card-links {
	width: 50%;
	float: left;
}
.card-links ul {
	margin-bottom: 0;
}

//**********************
// Staff Directory Block
//**********************

.profile-content {
	padding-left: 15px;
	font-size: 92%;
	h4 {
		margin-bottom: 0;
	}
	.submeta {
		line-height: 180%;
		a {
			color: $text-color;
		}
	}
}
.profile-bio {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid $gray-lighter;
}

//********************
// Card Vertical Block
//********************

.card-vertical-block {
	@extend .margin-bottom-two;
	background-color: $gray-lighter;
	text-align: center;
	height: 328px;
	
	.card-vertical-img {
	}
	.card-vertical-content {
		padding: 1em 10px 0 10px;
		
		a:hover {
			text-decoration: none;
		}
	}
}

//******************
// Inner Page Banner
//******************

.page-template-page-parent-php #mainmenu {
	margin-bottom: 0;
}
.inner-page-banner {
    min-height: 200px;
    background-color: $gray;
    
    .content {
    	max-height: 390px;
    	overflow: hidden;
    }
    img {
    	width: 100%;
   		height: auto;
    }
}
.content-top {
	max-width: 1600px;
	margin: auto;
}
.inner-page-banner-overlay {
    background: #333;
    background: rgba(0,0,0,0.5);
    height: 83px;
    margin-top: -83px;
    position: relative;
    z-index: 5;
}

//***************
// Sidebar Blocks
//***************

#sidebar-first {
	margin-bottom: 30px;
	width: 100%;
	.navbar-collapse {
		padding: 0;
	}
	.navbar {
		border: none;
	}
	.block-menu {
	    margin-top: -115px;
	    position: relative;
	    z-index: 5;
	    width: 100%;
	}
	h2, h4 {
		margin: 0;
		a {
			color: #FFFFFF;
		}
		a:hover, a:focus {
			text-decoration: none;
		}
	}
	h2 {
		padding: 20px;
		font-size: 26px;
		line-height: 1.3;
	}
	h4 {
		height: inherit;
		padding: 10px 20px;
	}
	ul {
		background-color: $gray-lighter;
		list-style: none;
		li {
			a {
				padding: 10px 20px;
			    position: relative;
			    display: block;
			    font-size: $main-font-size;
				color: $gray-darker;			
			}
			a:hover, a:focus, a:active {
				text-decoration: none;
			}	
			ul.children {
				background-color: $gray-lighten; 
				padding: 0;
				li:first-child {
					a {
						padding: 5px 10px 5px 40px;
					}
				}
				a {
					font-size: $font-size-small;
					padding: 5px 10px 5px 40px;
					color: $gray-darker;
				}
				ul.children {
					background-color: #dddddd;
					
					li {
						a {
							padding: 5px 10px 5px 60px;
							line-height: 1.3em;
						}
					}
					.current_page_item {
						background-color: #dddddd;
					}
				}
				.current_page_item {
					background-color: $gray-lighten;
				}
			}
		}
	}
	ul > li > ul.children {
		padding: 5px 0;
	}
	ul > li > ul > li > ul.children {
		padding: 5px 0;
		margin: 5px 0;
	}
	ul > li > ul > li:last-child > ul.children {
		margin-bottom: -10px;
	}
	ul.nav > li.current_page_parent, ul.nav > li.current_page_item, ul.nav > li.current_page_ancestor {
		background-color: $gray-light;
		a {
			color: #fff;
		}
	}
}

.page-template-page-parent {
	#sidebar-first { 
		h2 {
		    display: block;
		    height: 83px;
		    padding: 0;
		}
		h2 .sidebar-parent-title, h4 .sidebar-parent-title {
		    display: table-cell;
		    vertical-align: middle;
		    height: 83px;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    font-weight: 500;
		    letter-spacing: 1.5px;
		    line-height: 1.1;
		    padding: 10px 20px 15px;
		    text-transform: initial;
		}
		.nav {
			padding: 5px 0;
		}
	}
}
		
.sidebar-callouts {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    background: $gray-lighter;
    
    p {
    	font-size: 14px;
    }
    .sidebar-callout-img {
    	img {
    		margin: auto;
    	}
    }
	.sidebar-callout-inner {
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 20px 20px 10px;

		a:hover {
			text-decoration: none;
		}
	}
	
}
.sidebar-contact, .sidebar-calendar {
	border-top: 1px solid $gray-lighten;
	padding-top: 30px;
	margin-bottom: 30px;
} 
.sidebar-calendar h4, .sidebar-contact h4 {
	margin-bottom: 20px;
}
.sidebar-contact {
	h5 {
		margin-bottom: 5px;
	}
	.small {
		margin-bottom: 8px;
		line-height: 1.4;
		font-size: $font-size-small;
	}
	.small.subhead {
		margin-bottom: 4px;
	}
	.fa {
		margin-right: 5px;
		width: 12.8px;
	}
	.sidebar-contact-staff {
		margin-top: 20px;
		
		p:last-child {
			margin-bottom: 0;
		}
	}
}

//**********************
// News Posts and Archive
//**********************

#carousel-news .item .carousel-caption{
	width: 60%;
} 
.post-title {
	font-size: 56px;
	line-height: 1.2em;
}
.post-meta {
	font-size: $font-size-small;
    margin: 6px 0 20px;
    padding: 8px 0;
    border-top: 1px solid $gray-lighten;
    border-bottom: 1px solid $gray-lighten;
}
.post-meta-sm {
	font-size: $font-size-smaller;
	border-top: 0;
	border-bottom: 0;
	color: $gray-light;
	padding: 0;
	margin-bottom: 5px;
}
.news-item-list {
	border-bottom: 1px solid $gray-lighten;
}
.news-item-title {
	margin-bottom: 5px;
}
.entry-content .post-image {
	margin: $main-margin;
}
.entry-content .post-image-caption {
    background: #f3f3f3;
    padding: 10px;
    margin: 0;
    font-size: $font-size-small;
}
.blockquote {
    border-top: 1px solid $gray-lighten;
    border-bottom: 1px solid $gray-lighten;
    padding: 20px 0;
    margin: $main-margin;
}
.blockquote p {
	font-size: 2em;
	line-height: 1.2em;
}

//***********
// Login Form
//***********

#login {
	background-color: $gray-lighten;
}
#loginform p{
	@extend .form-group;
}
#loginform input[type="text"], #loginform input[type="password"] {
	@extend .form-control;
	@extend .input-lg;
}
#loginform #wp-submit {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-lg;
	@extend .btn-block;
}

//**********
// ACF Form
//**********

.acf-form .acf-fields>.acf-field {
	@extend .form-group;
	padding: 0;
	border-top: none;
}
.acf-form .acf-input-wrap input {
	@extend .form-control;
	@extend .input-lg;
}
.acf-form .acf-button {
	@extend .btn;
	@extend .btn-primary;
}

//*********************
// Responsive Home Page
//*********************

@media (max-width: 991px) {
	.carousel-wrap  .item .carousel-caption {
		width: auto;
	    left: 0!important;
	    bottom: 0!important;
	    right: inherit!important;
	    top: inherit!important;
	    position: relative;
	    background-color: #f2f1eb;
	}
	.carousel-wrap  .carousel-control, .carousel-wrap .carousel-indicators {
		display: none;
	}
	#carousel-news .item .carousel-caption {
		width: auto;
	}
}
//**************************
// Responsive Global Headers
//**************************
@media (min-width: 320px) {
	
}
//******************************
// Responsive Footer and Sidebar
//******************************

@media (max-width: 991px) and (min-width: 768px) {
	.col-sm-1-4 {
	    float: left;
	    width: 18%;
	    margin-right: 2%;
	}
}
@media (min-width: 768px) {
	#footer-bottom p {
		margin: 0;
	}
	#footer-bottom li {
	    width: auto;
	    margin: 0 15px 0 0;
	    padding: 0;
	    float: none;
	    clear: left;
	    display: inline-block;
	}
	#sidebar-first .navbar-nav, #sidebar-first .navbar-nav>li {
		float: none;
	}
}
@media (max-width: 767px) {
	#footer-top h5 {
	    border-bottom: $border-bottom;
	    margin-bottom: 10px;
	    padding-bottom: 5px;
	    font-size: 1.1em;
	}
	#footer-bottom ul, #footer-bottom #disclaimer {
		margin-top: 30px;
	}
}

//*******************
// Responsive Helpers
//*******************

@media (max-width: 767px) {
	.small {
		font-size: 100%;
	}
}

//******************
//Responsive General
//******************

@media (min-width: 992px) {
	.col-main.col-sm-9 {
		width: 73%;
	}
}
@media (max-width: 767px) {
	#header-mobile {
		color: white;
		width: 100%;
		padding: 10px 0;
	}
	#header-mobile #logo {
		max-width: 200px;
		float: left;
		padding-left: 15px;
	}
	#header-mobile .container {
		padding-left: 0;
		padding-right: 0;
	}
	#header-mobile .ubermenu .ubermenu-retractor {
		color: white;
	}
	#header-mobile .ubermenu .ubermenu-item {
		line-height: .5em;
		font-size: 16px;
	}
	#header-mobile .ubermenu .ubermenu-item:last-child {
		border-bottom: none;
	}
	#header-mobile .ubermenu .ubermenu-submenu {
		background-color: white;
	}
	#header-mobile .ubermenu .ubermenu-submenu .ubermenu-item {
		border-bottom-color: $gray-lighter;
	}
	#header-mobile .ubermenu .ubermenu-submenu .ubermenu-target {
		color: $text-color;
		line-height: .5em;		
	}
	#header-mobile .ubermenu .ubermenu-target {
		color: white;
	}
	#header-mobile .ubermenu.ubermenu-responsive .ubermenu-column, .ubermenu.ubermenu-responsive .ubermenu-column-auto, .ubermenu-submenu.ubermenu-submenu-drop {
		width: 100%;
	}
	#mainmenu {
		margin: 0;
	}
	.carousel-wrap  {
    	padding: 0;
	}
	.carousel-wrap  .item img {
		width: 100%;
	}
	.carousel-wrap  .item a {
    	text-decoration: none;
	}
	.carousel-wrap  .item .carousel-caption {
	    width: auto;
	    left: 0!important;
	    bottom: 0!important;
	    right: inherit!important;
	    top: inherit!important;
	    position: relative;
	    background-color: #f2f1eb;
	}
	.carousel-wrap  .item .carousel-caption .carousel-title h3{
	    display: inline;
	    text-transform: uppercase;
	    letter-spacing: 0;
	    font-size: 1.1em;
	    font-weight: 600;
	    margin-right: .4em;
	}
	.carousel-wra    p  .item .carousel-caption .carousel-caption-bg p {
	    display: inline;
	    font-weight: 400;
	    font-size: 14px;
	    line-height: 1.6;
	}
	#news .news-item {
	    margin-bottom: 1em;
	}
	#news .news-img {
		padding-right: 0;
	}
	#news .news-content h4 {
		margin-top:0;
	}
	#message img, #news-more, #quick-links {
		padding-bottom: $padding-xlarge-bottom;
	}
	#socialbtns {
		text-align:center;
		padding-top:20px;
	}
	#socialbtns .fa-3x {
		font-size: 2em;
	}
	#twitter-id-link .well {
		margin-bottom: $padding-xlarge-bottom;
	}
	#twitter-id-link .fa {
		font-size: 2em;
	}
	#twitter-id-link #twitter-id {
		padding-left: 29px;
    	font-size: $font-size-large;
	}
	.inner-page-banner-overlay {
		display: none;
	}
	#sidebar-first {
		width: 100%;
	}
	#sidebar-first .block-menu {
		margin-top: 0;
	}
	#sidebar-first h2 {
		font-size: 22px;
	}
	#sidebar-first h2, .page-template-page-parent #sidebar-first h2 .sidebar-parent-title, .page-template-page-parent #sidebar-first h2  {
		height: auto;
	}
	#sidebar-first h2, .page-template-page-parent #sidebar-first h2 .sidebar-parent-title, .page-template-page-parent #sidebar-first h4 .sidebar-parent-title {
		padding: 15px 20px;
	}
	#sidebar-first .fa {
		color: white;
	}
	#sidebar-first .navbar {
		min-height: inherit;
		border: none;
	}
	#sidebar-first .navbar-nav {
		margin: 0;
	}
	#sidebar-first .navbar-default .navbar-toggle {
		border-color: transparent;
		padding: 18px 15px 0 0;
		margin: 0;
		border: none;
	}
	#sidebar-first .navbar-default .navbar-toggle .icon-bar {
		background-color: white;
	}
	#sidebar-first .navbar-default .navbar-toggle:hover, #sidebar-first .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.entry-content #page-links .children li {
		width: 100%;
	}
	.entry-content .card-links {
		width: 100%;
	}
	.ai1ec-agenda-widget-view .ai1ec-date {
		padding-bottom: 1em;
	}
	.ai1ec-agenda-widget-view .ai1ec-date:last-child {
		padding-bottom: 0;
	}
	.profile-content {
		font-size: 100%;
	}
	.post-title {
		font-size: $font-size-h1-small;
	}
	.entry-lead .lead {
		font-size: $font-size-lead-small;
	}
	.profile-content .submeta {
		line-height: 150%;
	}
	#search-form #search-text {
		width: 100%;
		margin-bottom: 10px;
	}
	#search-form .btn {
		width: 100%;
	}
	.inner-page-banner img {
		width: auto;
	}
}

//***************
// Card Block
//***************

.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem; }

.card-block {
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }
.card-link + .card-link {
  margin-left: 1.25rem; }

.card > .list-group:first-child .list-group-item:first-child {
  border-radius: 0.25rem 0.25rem 0 0; }
.card > .list-group:last-child .list-group-item:last-child {
  border-radius: 0 0 0.25rem 0.25rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5; }
  .card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5; }
  .card-footer:last-child {
    border-radius: 0 0 0.25rem 0.25rem; }

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8; }

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f; }

.card-primary-outline {
  background-color: transparent;
  border-color: #0275d8; }

.card-secondary-outline {
  background-color: transparent;
  border-color: #ccc; }

.card-info-outline {
  background-color: transparent;
  border-color: #5bc0de; }

.card-success-outline {
  background-color: transparent;
  border-color: #5cb85c; }

.card-warning-outline {
  background-color: transparent;
  border-color: #f0ad4e; }

.card-danger-outline {
  background-color: transparent;
  border-color: #d9534f; }

.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff; }
.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, 0.65); }
.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff; }

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0; }

.card-img {
  border-radius: 0.25rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img-top {
  border-radius: 0.25rem 0.25rem 0 0; }

.card-img-bottom {
  border-radius: 0 0 0.25rem 0.25rem; }

@media (min-width: 544px) {
  .card-deck {
    display: table;
    table-layout: fixed;
    border-spacing: 1.25rem 0; }
    .card-deck .card {
      display: table-cell;
      width: 1%;
      vertical-align: top; }

  .card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem; } }
@media (min-width: 544px) {
  .card-group {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .card-group .card {
      display: table-cell;
      vertical-align: top; }
      .card-group .card + .card {
        margin-left: 0;
        border-left: 0; }
      .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0; }
        .card-group .card:first-child .card-img-top {
          border-top-right-radius: 0; }
        .card-group .card:first-child .card-img-bottom {
          border-bottom-right-radius: 0; }
      .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0; }
        .card-group .card:last-child .card-img-top {
          border-top-left-radius: 0; }
        .card-group .card:last-child .card-img-bottom {
          border-bottom-left-radius: 0; }
      .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0; }
        .card-group .card:not(:first-child):not(:last-child) .card-img-top,
        .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
          border-radius: 0; } }
@media (min-width: 544px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }	