/* Day Widget */
.tribe-this-week-widget-day-wrap {
	background-color: white;
    padding: 20px 10px;
}
#footer-top .tribe-this-week-event {
    border-left: none;
    padding-left: 0px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-color: #ddd;
}
#footer-top .tribe-this-week-event:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;	
}
#footer-top .event-today-time {
	font-size: 13px;
	color: #333;
}
#footer-top .tribe-events-category-block-schedule {
	
}
#footer-top #tribe-events-event-5684 {
	
}