.tribe-mini-calendar-event {
  border-bottom: none; 
  margin-bottom: 12px;
  padding-bottom: 0;
}
.tribe-mini-calendar-event .list-date:first-child {
	margin-top: 0; 
}
.tribe-mini-calendar-event .list-info {
	margin-top: 0;
	font-size: 14px; 
}
.tribe-events-widget-link {
	margin-bottom: 0;
	font-size: 14px;
}
.tribe-events-widget-link a {
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
}
.tribe-mini-calendar-event .list-date .list-daynumber {
	font-size: 20px;
    padding: 9px 0;
}
.tribe-mini-calendar-event .list-date .list-dayname {
	font-size: 15px;
	text-transform: uppercase;
	padding: 5px 0;
}
.tribe-mini-calendar-event .list-date {
	padding: 5px 5px 0 5px;
	width: 25%;
	margin: 0;
}
.tribe-mini-calendar-event .list-info {
	width: 75%;	
	background: white;
    min-height: 86px;
    padding: 10px;
}
.tribe-mini-calendar-event .list-info h2 {
	font-size: 15px;
	line-height: 20px;
}
.tribe-events-title-wrap {
	max-height: 40px;
	overflow: hidden;
	display: block;
}